.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#mainNav{
  z-index: 5;
}

.mainDiv{
  display:inline-block;
  padding-top:3em;
}

/*#leftsidebar{
  width: 100%;
}

@media only screen and (max-width:775px){
  #leftsidebar{
    display: none;
  }
}*/