.LeftCollapsibleBox {
    position: sticky;
    background:#343a40;
    padding: 1%;
    height: calc(100vh - 3em);
    left: 0;
    margin-top: 3em;
    top:3em;
    color: white;
    bottom: 0;
}

@media only screen and (max-width:775px){
    .LeftCollapsibleBox{
      display: none;
    }
  }

.RightCollapsibleBox {
    position: sticky;
    background:#343a40;
    padding: 1%;
    height: calc(100vh - 3em);
    right: 0;
    margin-top: 3em;
    color: white;
}

.headerLCollapsibleBox{
    text-align: right;
}

.headerRCollapsibleBox{
    text-align: left;
}

