.courseManagementPage{
    padding-top: 4em;
    padding-left: 2em;
}

#courseMList{
    text-align: center;
    padding: 0 !important;
}

#newCourse{
    text-align: right;
}

.fa-plus, .fa-chart-bar, .fa-key{
    margin-right: 4px;
}

.courseDiv{
    position: relative;
    display: inline-block;
    width: 30%;
    left: -3%;
}

@media screen and (max-width:775px) {
    .courseDiv {
        width: 100% !important;
    }
}

@media screen and (min-width:775px) and (max-width:1100px) {
    .courseDiv {
        width: 50% !important;
    }
}

.buttonGroupManagement{
    right: -3%;
}

.courseManagementLink, .courseManagementLink:hover{
    text-decoration: none;
}

.managementCourseButton{
    margin-top: 2% !important;
}

.courseMItem{
    display: block;
}

.courseInfos{
    width: 100%;
    margin-top: 35%;
    position: absolute;
    z-index: 2;
}

.courseName, .NumberVideos{
    width: 100%;
    text-align: center;
    color: black;
}

.courseImage{
    filter : blur(3px);
}