.courseList {
    display: block;
    width: 90%;
}

.listTitle{
    text-align: left;
    margin-top: 2%;
    margin-left: 8%;
}

.courseItem{
    text-decoration: none;
    display: inline-block;
    margin-left: 5%;
}

.courseName{
    text-decoration: none;
    color: black;
}

.courseLink:hover {
    text-decoration: none;
}