.flexible-container {
  display: inline-block;
  width: 70%;
  padding-top: 3em;
  text-align: center;
}
  
.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  color:white;
  z-index: -5;
  display: table-cell;
  width: 100%;
}